.header__title {
  background-color: #282c34;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cart__main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 100vh;
}

.cart__product-list {
  border: 1px solid black;
}

.cart__checkout {
  border: 1px solid black;
}

.footer__main {
  background-color: #282c34;
  color: white;
  text-align: center;
  position: sticky;
  bottom: 0;
}
